html, body {
   margin: 0;
   padding: 0;
   min-height: 100vh !important;
   min-width: 100vw !important;
}


/* ------------------- Screen Layout ------------------- */


#app-container {
   height: 100vh;
   width: 100vw;
   background-image: url('./files/background.jpg');
   background-size: cover;
}

.layout-container {
   display: grid;
   width: 100%;
   grid-template-columns: 50% 50%;
   border: 2px solid yellow;
}

/* #mobile-layout {
   
} */

/* #medium-layout {

} */

#large-layout {
   height: 100%;
   grid-template-columns: (50% 50%);
}


/* ---------------------- Avatar ---------------------- */


#avatar-component {
   border: 2px solid black;
   display: flex;
   justify-content: center;
}

#sample-avatar {
   display: flex;
   align-self: center;
   height: 50%;
}



/* ------------------- Modal Container ------------------ */



/* -------------------- Register CSS -------------------- */

#register-container {
   border: 2px solid blue
}

#register-form {
   background-color: dodgerblue;
   border-radius: 5px;
   max-width: 60%;
   padding: 3rem;
}

#register-button {
   display: inline-block
}

.register-label {
   display: block;
}

/* .register-tooltip {

} */

/* .register-text {

} */

.register-input {
   display: block
}

.register-tooltip  {
   font-size: var(--fs-small);
   background: var(--clr-dark);
   display: inline-block;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   text-align: center;
   align-self: center;
   margin-left: .5em;
   position: relative;
}
 
.register-tooltip ::after {
   content: attr(data-tooltip);
   display: none;
   position: absolute;
   padding: 1em;
   background: var(--clr-dark);
   bottom: 1.5em;
   text-align: left;
   width: 250px;
   color: var(--clr-1);
}
 
.register-tooltip :hover::after {
   display: block;
}


/* -------------------- Login CSS -------------------- */
#login-form {
   background-color: dodgerblue;
   border-radius: 5px;
   max-width: 60%;
   padding: 3rem;
}

#login-button {
   display: inline-block
}

.login-label {
   display: block;
}

/* .login-tooltip {

}

.login-text {

} */

.login-input {
   display: block
}

.login-tooltip  {
   font-size: var(--fs-small);
   background: var(--clr-dark);
   display: inline-block;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   text-align: center;
   align-self: center;
   margin-left: .5em;
   position: relative;
}
 
.login-tooltip ::after {
   content: attr(data-tooltip);
   display: none;
   position: absolute;
   padding: 1em;
   background: var(--clr-dark);
   bottom: 1.5em;
   text-align: left;
   width: 250px;
   color: var(--clr-1);
}
 
.login-tooltip :hover::after {
   display: block;
}



/* --------------------- GLOBAL CSS --------------------- */


.modal-change-span:hover {
   cursor: pointer;
}


/* ------------------- Media Queries -------------------- */



@media only screen and (max-width: 800px) {
   #app-container {
      background-position: 2%;
   }

   .layout-container {
      grid-template-columns: 100%;
   }

   #sample-avatar {
      height: 100%;
   }
}

@media only screen and (max-width: 600px) {
   #app-container {
      background-position: 5%;
   }
}